.board-component-container {
    display: grid;
    margin: auto;
    width: 100%;
    height: 100%;
    .board-item {
        height: inherit;
        font-size: 9px;
        display: flex;
        flex-direction: column;
        border: 0.1px solid rgba(69, 216, 76, 0.747);
        
        
        &.areaSearch {
            background-color: aqua;
            animation-name: bumping-areaSearch;
            animation-duration: 0.5s;
        }
        
    
        .wall {
            width: inherit;
            height: inherit;
            background-color: rgb(2, 56, 38);
            border-color: rgb(2, 56, 38);
            animation-name: bumping;
            animation-duration: 0.5s;
        }

        &.foodActive {
            background-color: yellowgreen;
        }
        &.active {
            background-color: aquamarine;
            border-color: aquamarine;
            animation-name: bumping-snake;
            animation-duration: 0.5s;
        }
        &.unborder { 
            border: unset;
        }
        .container-icon {
            position: relative;
            svg {
                position: absolute;
                width: 50%;
                margin-top: 15%;
                right: 26%;
            }
        }
    }


    @keyframes bumping {
        0%   {width: 60%; height: 60%; margin: auto;}
        25%  {width: 70%; height: 70%; margin: auto;}
        50%  {width: 80%; height: 80%; margin: auto;}
        100% {width: 100%; height: 100%; margin: auto;}
    }

    @keyframes bumping-areaSearch {
        0%   {width: 60%; height: 60%; margin: auto; background-color: rgb(230, 158, 116);}
        25%  {width: 70%; height: 70%; margin: auto;}
        50%  {width: 80%; height: 80%; margin: auto;}
        100% {width: 100%; height: 100%; margin: auto; background-color: aqua;}
    }


    @keyframes bumping-snake {
        0%   {width: 60%; height: 60%; margin: auto; background-color: rgb(168, 235, 212);}
        25%  {width: 70%; height: 70%; margin: auto;}
        50%  {width: 80%; height: 80%; margin: auto;}
        100% {width: 100%; height: 100%; margin: auto; background-color: aquamarine;}
    }
}