.board-component-container {
    display: grid;
    margin: auto;
    width: 100%;
    height: 100%;

    .board-item {
        height: inherit;
        font-size: 9px;
        display: flex;
        flex-direction: column;
        border: 0.1px solid rgba(69, 216, 76, 0.747);
        
        
        &.areaSearch {
            background-color: aqua;
        }
        
    
        .wall {
            width: inherit;
            height: inherit;
            background-color: rgb(2, 56, 38);
            border-color: rgb(2, 56, 38);
            animation-name: wallAnimation;
            animation-duration: 0.3s;
            animation-timing-function: ease-out;
            animation-direction: alternate;
            animation-iteration-count: 1;
            animation-fill-mode: forwards;
            animation-play-state: running;
        }

        &.targetActive {
            background-color: yellowgreen;
        }
        &.active {
            background-color: rgb(83, 74, 207);
            border-color: rgb(83, 74, 207);
        }
        &.unborder { 
            border: unset;
        }
        .container-icon {
            position: relative;
            svg {
                position: absolute;
                width: 50%;
                margin-top: 15%;
                right: 26%;
            }
        }
        &.animated {
            &.areaSearch {
                animation-name: bumping-areaSearch;
                animation-duration: 0.5s;
            }
    
            &.active {
                animation-name: bumping-snake;
                animation-duration: 0.5s;
            }
        }
    }

    @keyframes wallAnimation {
        0% {
          transform: scale(.3);
        }
      
        50% {
          transform: scale(1.2);
        }
      
        100% {
          transform: scale(1.0);
        }
    }

    @keyframes bumping-areaSearch {
        0% {
            transform: scale(.3);
            border-radius: 100%;
            background-color: rgb(230, 158, 116);
        }
        
        100% {
            transform: scale(1.0);
            border-radius: 0;
            background-color: rgb(168, 235, 212);
        }
        // 0%   {width: 60%; height: 60%; margin: auto; background-color: rgb(230, 158, 116);}
        // 25%  {width: 70%; height: 70%; margin: auto;}
        // 50%  {width: 80%; height: 80%; margin: auto;}
        // 100% {width: 100%; height: 100%; margin: auto; background-color: aqua;}
    }


    @keyframes bumping-snake {
        0% {
            transform: scale(.3);
            background-color: rgb(168, 235, 212)
        }
        
        100% {
            transform: scale(1.0);
            background-color: rgb(83, 74, 207);
        }
        // 0%   {width: 60%; height: 60%; margin: auto; background-color: rgb(168, 235, 212);}
        // 25%  {width: 70%; height: 70%; margin: auto;}
        // 50%  {width: 80%; height: 80%; margin: auto;}
        // 100% {width: 100%; height: 100%; margin: auto; background-color: aquamarine;}
    }
}