.container-target {
    position: relative;
    height: inherit;
    .content-target {
        position: absolute;
        width: 100%;
        top: 10%;
        height: inherit;
        .target-item {
            width: 80%;
            height: 80%;
            margin: auto;
            border: 1px solid black;
            border-radius: 100%;
            display: flex;
            padding: 3px;
            .target-item-circle {
                width: 100%;
                border-radius: 100%;
                background-color: black;
            }
        }
    }
}